/*
How to setup sass development:
1. Install VS Code, Live Sass compiler extension and live server extension.
2. Create A Sass file, start live server.
3. Click On Watch Sass button.
4. link index.css
*/
$color:orange;
$text:white;
body{
    background-color: $color;
}
@mixin  textProperties($alignment) {
    text:{
        align:$alignment;
        decoration:underline;
        transform: uppercase;
    }
}
h1{
    color:$text;
    margin-top: 5%;
    //giving hover effect
    /* can give all here only*/
    &:hover{
        color:black;
    }
   @include textProperties(right);
}
h2{
    @extend h1;
}
